$headings-font-weight: 'bold';
$font-family-sans-serif:    "mali",  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$card-spacer-y:                     .5rem !default;
$card-spacer-x:                     .5rem !default;