@import 'font.scss';
@import 'variable.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo-block {
  min-height: 80vh;
}

.card-with-shadow{
  @extend .card;

  -webkit-box-shadow: 0px 2px 7px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 7px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 7px -5px rgba(0,0,0,0.75);
}

